## INTEGER

In [1]:
12345

12345

In [2]:
-123415

-123415

In [1]:
print(0)

0

## FLOAT

In [2]:
2.3

2.3

In [3]:
print(-3.5)

-3.5

In [4]:
print(0.4)
print(.4)
print(2.3e6)
print(5e-4)

0.4
0.4
2300000.0
0.0005

## STRING
Dibawah ini adalah contoh men-difine string

In [1]:
print("Hello World!")
print("563896")
print('Selamat Datang')
print('I have no idea (")')
print("I Love Me (')")

Hello World!
563896
Selamat Datang
I have no idea (")
I Love Me (')

## BOOLEAN

In [6]:
print(True)
print(False)

True
False

In [8]:
print(type(True))
print(type(False))

<class 'bool'>
<class 'bool'>

## VARIALBLE ASSIGNMENT

In [13]:
x = 300
y = 52

In [16]:
print(x*2)
print(y-x)

600
-248

In [17]:
a = b = c = 300

In [18]:
print( a + c * b)

90300

In [19]:
a = 23.4
b = True
c = "ABCDEFG"
d = 5

In [20]:
print(type(a))
print(type(b))
print(type(c))
print(type(d))

<class 'float'>
<class 'bool'>
<class 'str'>
<class 'int'>

In [21]:
a = "STRING1"

In [22]:
print(a)
print(type(a))

STRING1
<class 'str'>

In [23]:
a

'STRING1'

In [25]:
A = "assdf"

In [26]:
print(A)
print(a)

assdf
STRING1

In [27]:
umur = 24
nama_depan = "Dwi Ratna"
has_laptops = True

namaDepan = 'Dwi Ratna'
hasLaptops = False

## OPERATORS